/* Slideshow Container */
.slideshow-container {
    max-width: 1600px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the slideshow horizontally */
  }
  
  /* Slides */
  .slide {
    display: none;
    text-align: center;
    transition: opacity 0.5s;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }
  
  .slide.active {
    display: block;
    opacity: 1;
  }
  
  /* Slide Content (Title and Button) */
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .slide-content h2 {
    font-size: 24px;
  }
  
  .slide-content button {
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Navigation Buttons */
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 20px;
  }
  
  .next-button {
    right: 20px;
  }
  