.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-details {
  flex: 1;
}

.profile-details h2 {
  font-size: 24px;
  margin-top: 0;
}

.profile-details p {
  margin: 5px 0;
  font-size: 16px;
}
